# Dependencies
node_modules/

# Next.js build & dev cache (never commit)
.next/
out/

# Debug / env
.env*.local
npm-debug.log*

# OS
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
